.last-section {
  margin-top: 3rem;
  .upper {
    display: flex;
  }

  .card-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2%;
    justify-content: space-between;
    .card {
      padding: 2rem;
      width: 28rem;
      height: 33rem;
      background-color: rgba(#2222, 0.5);
      border-radius: 1.5rem;

      .card-img {
        overflow: hidden;
        border-radius: 2rem;
      }

      .row {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
      }
      .price-buy {
        margin-top: 1rem;
        padding: 0.5rem;
        background-color: #000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 1rem;

        .price {
          font-size: 1rem;
          padding-left: 1rem;
        }
      }
    }
  }
  .button-div {
    margin: 3rem 0 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .view-project {
      color: white;
      padding: 1rem 4rem;
      font-size: 1.4rem;
      background: none;
      text-decoration: none;
      border-radius: 3rem;
      border: 1px solid white;
      transition: all 0.1s ease-in-out;

      &:hover {
        font-size: 1.5rem;
        color: rgba(white, 0.9);
        transform: translate(-2%, -2%);
      }
    }
  }
}
