.text-color {
  color: rgba(255, 255, 255, 0.5);
}

.text-color-light {
  color: rgba(255, 255, 255, 0.7);
}

.nav-btn {
  border-radius: 50%;
  border: none;
  background: none;
}

.hide {
  display: none;
}
